<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0kL8ylal03SYm90ypU8baYuu3TbCYlAo</string>
	<key>GCM_SENDER_ID</key>
	<string>70387303356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vxapp</string>
	<key>PROJECT_ID</key>
	<string>vxapp-97b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>vxapp-97b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70387303356:ios:ff8a7a43bc80529bb661b9</string>
</dict>
</plist>